body{
    margin: 0 ;
}

img {
    height: 200px;
    width: 200px;
    
}

main{
    display: flex;
    justify-content: center;
}

#rustys-logo{
    height: 150px;
    width: 150px;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    margin: 10px;
    border-radius: 15px;
    width: 400px;
}

#del {
    margin: 10px;
    border-radius: 20px;
}

#sub {
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result div CSS */
#resultList li{
    display: flex;
    border: 1px solid rgb(24, 78, 38);
    justify-content: flex-start;
    align-items: center;
}
/* Dept Result CSS */
#depResultList li{
    display: flex;
    border: 1px solid rgb(24, 78, 38);
    justify-content: flex-start;
    align-items: center;
}

#deptButtons {
    display: flex;
    justify-content: center;
    
    
}
#deptButtons button {
    margin: 20px;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

#deptButtons button:hover {
    background-color: #111;
    color: white;
}

#searchAgain{
    display: flex;
    justify-content: center;
}

#searchAgain button{
    width: 150px;
    height: 50px;
}

#searchAgain button:hover{
    background-color: #111;
    color: white;
}
/* Navbar CSS */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

nav li{
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #111;
}
